<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>
<div>
    <img src="/images/logo.png" alt="로고">
    <form name="login" action="/user/login" method="post">
        <input type="text" placeholder="로그인" th:name="loginId" th:id="loginId">
        <input type="text" placeholder="비밀번호" th:name="password" th:id="password">
    </form>
    <button th:onclick="loginCheck()">로그인</button>
    <button>회원가입</button>
</div>
</body>
<script>

    const loginCheck = () => {
        const loginId = document.getElementById("loginId").value;
        const password = document.getElementById("password").value;
        console.log("loginId : " + loginId);
        console.log("password : " + password);

        $.ajax({
            type: "post",
            url: "/user/login/check",
            async : false,
            headers : {
                "Content-Type" : "application/json",
                "X-HTTP-Method-Override" : "POST"
            },
            data: JSON.stringify({
                loginId: loginId,
                password: password
            }),
            dataType: "json",
            success: function(result) {
                console.log("작성성공");
                document.login.submit();
            },
            error: function(error) {
                console.log(error)
                console.log("실패");
            }
        });
    }
</script>
</html>