<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>사이드메뉴</title>
</head>
<body>
<div th:fragment="sideMenu">
    <!--사이드 메뉴-->
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 260px; height: 100%; border-radius: 20px;">
        <a href="/board" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4">
                <img src="/images/logo_white.png" alt="로고" style="width: 100%; margin-top: 10px; margin-bottom: 10px">
            </span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li>
                <a href="/board" class="nav-link text-white">
                    <svg class="bi pe-none me-2" width="16" height="16"></svg>
                    용병구하기
                </a>
            </li>
            <li>
                <a href="/board/mypost" class="nav-link text-white">
                    <svg class="bi pe-none me-2" width="16" height="16"></svg>
                    내 게시글
                </a>
            </li>
            <li>
                <a href="/request" class="nav-link text-white">
                    <svg class="bi pe-none me-2" width="16" height="16"></svg>
                    신청내역
                </a>
            </li>
            <li>
                <a href="/mypage" class="nav-link text-white">
                    <svg class="bi pe-none me-2" width="16" height="16"></svg>
                    마이페이지
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
<!--                <strong>mdo</strong>-->
                <strong th:text="${member.loginId}"></strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="/user/logout">로그아웃</a></li>
            </ul>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".nav-link").click(function(){
                // 현재 active 클래스를 가진 요소의 클래스를 제거
                $(".nav-link.active").removeClass("active");

                // 클릭한 요소에 active 클래스 추가
                $(this).addClass("active");
            });
        });
    </script>
    <style>
        .nav-link:hover {
            background: #0d6efd;
        }
    </style>

</div>
</body>

</html>