<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
    <select id="findAll"  resultType="post">
        select * from posts order by id
    </select>

    <select id="findById"  parameterType="Long" resultType="post">
        select * from posts where id = #{postId} order by id
    </select>

    <select id="findPage" parameterType="java.util.Map" resultType="post">
        select * from posts order by id limit #{startPostNum}, #{perPage}
    </select>

    <select id="findAllCount" resultType="Integer">
        select count(*) from posts
    </select>

    <insert id="add" parameterType="post">
        insert into posts(category_id, member_id, title, content, address, people, skill, game_date, position, status)
        values(#{categoryId}, #{memberId}, #{title}, #{content}, #{address}, #{people}, #{skill}, #{gameDate}, #{position}, #{status})
    </insert>

    <update id="update" parameterType="post">
        update posts set
        category_id = #{categoryId}, title = #{title}, content = #{content}
        , address = #{address}, people = #{people}, skill = #{skill}, game_date = #{gameDate}
        , position = #{position}, status = #{status}
        where id = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        delete from posts where id = #{postId}
    </delete>

    <select id="findByMemberIdPage" parameterType="com.ktds.football.dto.MyPostPageDTO" resultType="post">
        select * from posts where member_id = #{memberId} order by id limit #{startPostNum}, #{perPage}
    </select>

    <select id="findByMemberIdCount" parameterType="Long" resultType="Integer">
        select count(*) from posts where member_id = #{memberId}
    </select>
</mapper>