<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
    <select id="findAll"  resultType="post">
        select * from posts order by id
    </select>

    <select id="findById"  parameterType="Long" resultType="post">
        select * from posts where id = #{postId} order by id
    </select>

    <select id="findPage" parameterType="java.util.Map" resultType="post">
        select * from posts order by id limit #{startPostNum}, #{perPage}
    </select>

    <select id="findAllCount" resultType="Integer">
        select count(*) from posts
    </select>
</mapper>