<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">
    <select id="findById" parameterType="Long" resultType="member">
        select * from members where id = #{id}
    </select>

    <select id="findByLoginId" parameterType="String" resultType="member">
        select * from members where login_id = #{loginId}
    </select>

    <insert id="save" parameterType="member">
        insert into members (name, login_id, password)
        values (#{name}, #{loginId}, #{password})
    </insert>

    <update id="updatePassword" parameterType="com.ktds.football.dto.PasswordDTO">
        update members set password = #{changePassword} where id = #{memberId}
    </update>

    <delete id="delete" parameterType="Long">
        delete from members where id = #{id}
    </delete>
</mapper>