<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Request">
    <insert id="add" parameterType="request">
        insert into requests(post_id, member_id, position, status)
        values(#{postId}, #{memberId}, #{position}, #{status})
    </insert>

<!--    <select id="findPage" parameterType="java.util.Map" resultType="post">-->
<!--        select * from requests order by id limit #{startPostNum}, #{perPage}-->
<!--    </select>-->

    <select id="findPage" parameterType="com.ktds.football.dto.RequestRequestDTO" resultType="com.ktds.football.dto.RequestResponseDTO">
        select r.id, r.post_id, r.position, r.status
             , p.title, p.game_date
        from requests r
        join posts p on p.id = r.post_id
        where r.member_id = #{memberId}
        order by r.id
        limit #{startPostNum}, #{perPage};
    </select>

    <select id="findByMemberIdCount" parameterType="Long" resultType="Integer">
        select count(*) from requests where member_id = #{memberId}
    </select>

    <delete id="delete" parameterType="Long">
        delete from requests where id = #{requestId}
    </delete>
</mapper>